# Build results
bin/
obj/
*.user
*.suo
*.vs/
*.exe
*.dll
*.pdb
*.cache
*.log

# Visual Studio Code
.vscode/

# Sistema operacional
Thumbs.db
.DS_Store

# Outros arquivos temporários
*.tmp
*.bak

# Arquivo sensível local gerado para o build
login.txt
